.profile {
    width: 340px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.description {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
}

.avatar {
    width: 100px;
    border-radius: 50%;
    padding: 5px;
    margin-bottom: 20px;
    background-color: lightgrey;
}

.name {
    font-weight: 700;
    font-size: 22px;
}

.text {
    font-weight: 500;
    color: darkgrey;
}

.list {
    background-color: whitesmoke;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 10px;
    padding: 20px 0;
    border-top: 1px solid lightgrey;
}

.item:not(:last-child) {
    border-right: 1px solid lightgrey;
}

.label {
    color: darkgrey;
    font-size: 14px;
    font-weight: 500;
}

.value {
    font-weight: 700;
}